*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: rgba(0, 0, 0, 0.85);
}

.container{
    padding: 30px 45px;
    background-color: black;
    border-radius: 20px;
}

.container h1{
    text-align: center;
    font-size: 50px;
    color: #fc466b;
    padding-bottom: 20px; 
}

.container h2{
    color: #3f5efb;
    margin-bottom: 20px;
}

.btn_player1,
.btn_player2{
    color: black;
    font-weight: bold;
    border: none;
    padding: 8px 10px;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    border-radius: 12px;
}

.generated_number_player1,
.generated_number_player2{
    display: none;
}

.generated_number_player1.active,
.generated_number_player2.active{
    display: block;
}

.btn_result{
    border: none;
    border-radius: 15px;
    padding: 8px 20px;

}

.win_or_lose{
    display: none;
}

.win_or_lose.active{
    display: block;
}